@font-face {
    font-family: 'REM';
    src: url('REM-VariableFont_wght.ttf') format('ttf'),
         url('REM-Italic-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'REM', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('landscape.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.container {
    width: 90%; /* Adjusted width for smaller screens */
    max-width: 800px; /* Limit maximum width */
    margin: 0 auto;
    padding-top: 30px; /* Reduced padding for smaller screens */
}

header {
    background-color: rgba(4, 28, 22, 1);
    padding: 15px 0; /* Adjusted padding for header */
    position: relative;
}

.logo {
    max-width: 40px; /* Adjusted size for smaller screens */
    max-height: 40px; /* Adjusted size for smaller screens */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro {
    margin-top: 30px; /* Reduced margin for smaller screens */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Increased transparency for better readability */
    padding: 15px;
    border-radius: 10px;
}

.intro h1,
.intro p {
    color: #fff;
    font-size: 1.2em; /* Adjusted font size for better readability */
}

.intro a {
    color: #fff;
    text-decoration: none;
}

.intro a:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .container {
        padding-top: 20px;
    }

    header {
        padding: 10px 0;
    }

    .logo {
        max-width: 30px;
        max-height: 30px;
    }

    .intro {
        margin-top: 20px;
        padding: 10px;
    }

    .intro h1,
    .intro p {
        font-size: 1em;
    }
}
